<a href="https://colab.research.google.com/github/Youngpama21/accidentseverity/blob/main/accident_severity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import the necessary Libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from collections import Counter
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.linear_model import LinearRegression
import numpy as np
from sklearn.metrics import mean_squared_error, mean_absolute_error
from collections import Counter
from imblearn.over_sampling import SMOTE
import matplotlib.ticker as ticker
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,MinMaxScaler,LabelEncoder
from sklearn.pipeline import Pipeline
from sklearn.model_selection import RepeatedStratifiedKFold,GridSearchCV
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier,GradientBoostingClassifier
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix,roc_auc_score,f1_score,roc_curve
from sklearn.model_selection import KFold # import KFold
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [ ]:
df = pd.read_csv('RTA Dataset.csv')
list = ['Day_of_week',
        'Vehicle_driver_relation',
        'Work_of_casuality',
        'Fitness_of_casuality',
        'Time',
        'Educational_level',
        'Defect_of_vehicle',
        'Owner_of_vehicle',
        'Service_year_of_vehicle',
        'Sex_of_casualty',]
df.drop(columns = list, inplace=True)
df.head()

,Age_band_of_driver,Sex_of_driver,Driving_experience,Type_of_vehicle,Area_accident_occured,Lanes_or_Medians,Road_allignment,Types_of_Junction,Road_surface_type,Road_surface_conditions,...,Type_of_collision,Number_of_vehicles_involved,Number_of_casualties,Vehicle_movement,Casualty_class,Age_band_of_casualty,Casualty_severity,Pedestrian_movement,Cause_of_accident,Accident_severity
0,18-30,Male,1-2yr,Automobile,Residential areas,NaN,Tangent road with flat terrain,No junction,Asphalt roads,Dry,...,Collision with roadside-parked vehicles,2,2,Going straight,na,na,na,Not a Pedestrian,Moving Backward,Slight Injury
1,31-50,Male,Above 10yr,Public (> 45 seats),Office areas,Undivided Two way,Tangent road with flat terrain,No junction,Asphalt roads,Dry,...,Vehicle with vehicle collision,2,2,Going straight,na,na,na,Not a Pedestrian,Overtaking,Slight Injury
2,18-30,Male,1-2yr,Lorry (41?100Q),Recreational areas,other,NaN,No junction,Asphalt roads,Dry,...,Collision with roadside objects,2,2,Going straight,Driver or rider,31-50,3,Not a Pedestrian,Changing lane to the left,Serious Injury
3,18-30,Male,5-10yr,Public (> 45 seats),Office areas,other,Tangent road with mild grade and flat terrain,Y Shape,Earth roads,Dry,...,Vehicle with vehicle collision,2,2,Going straight,Pedestrian,18-30,3,Not a Pedestrian,Changing lane to the right,Slight Injury
4,18-30,Male,2-5yr,NaN,Industrial areas,other,Tangent road with flat terrain,Y Shape,Asphalt roads,Dry,...,Vehicle with vehicle collision,2,2,Going straight,na,na,na,Not a Pedestrian,Overtaking,Slight Injury

In [ ]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
12311    False
12312    False
12313    False
12314    False
12315    False
Length: 12316, dtype: bool

In [ ]:
df.groupby('Accident_severity').size()

Accident_severity
Fatal injury        158
Serious Injury     1743
Slight Injury     10415
dtype: int64

In [ ]:
df.isnull().sum()

Age_band_of_driver               0
Sex_of_driver                    0
Driving_experience             829
Type_of_vehicle                950
Area_accident_occured          239
Lanes_or_Medians               385
Road_allignment                142
Types_of_Junction              887
Road_surface_type              172
Road_surface_conditions          0
Light_conditions                 0
Weather_conditions               0
Type_of_collision              155
Number_of_vehicles_involved      0
Number_of_casualties             0
Vehicle_movement               308
Casualty_class                   0
Age_band_of_casualty             0
Casualty_severity                0
Pedestrian_movement              0
Cause_of_accident                0
Accident_severity                0
dtype: int64

In [ ]:
df.shape

(12316, 22)

In [ ]:
df.fillna(0, inplace=True)
df.isnull().sum()

Age_band_of_driver             0
Sex_of_driver                  0
Driving_experience             0
Type_of_vehicle                0
Area_accident_occured          0
Lanes_or_Medians               0
Road_allignment                0
Types_of_Junction              0
Road_surface_type              0
Road_surface_conditions        0
Light_conditions               0
Weather_conditions             0
Type_of_collision              0
Number_of_vehicles_involved    0
Number_of_casualties           0
Vehicle_movement               0
Casualty_class                 0
Age_band_of_casualty           0
Casualty_severity              0
Pedestrian_movement            0
Cause_of_accident              0
Accident_severity              0
dtype: int64

In [ ]:
# Split data for training and testing
X = df.drop(columns=['Accident_severity', 'Accident_severity'])
y = df['Accident_severity']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((8621, 21), (3695, 21), (8621,), (3695,))

In [ ]:
#upsampling
counter = Counter(ytrain)
print(counter)
print('===========================')

for k, v in counter.items():
  per = 100*v/len(ytrain)
  print(f'class={k}, n={v} ({per:.2f}%)')

categorical_features = xtrain.select_dtypes(include=['object']).columns

# Convert all columns in categorical_features to string type:
for col in categorical_features:
    xtrain[col] = xtrain[col].astype(str)
    xtest[col] = xtest[col].astype(str)
from sklearn.preprocessing import OrdinalEncoder
#OrdinalEncoder
encoder = OrdinalEncoder()

# 3. Fit the encoder on the categorical features in the training data
encoder.fit(xtrain[categorical_features])

# 4. Transform the categorical features in both training and testing data
xtrain[categorical_features] = encoder.transform(xtrain[categorical_features])
xtest[categorical_features] = encoder.transform(xtest[categorical_features]) # Apply to test data as well

# Now apply SMOTE:
oversample = SMOTE()
xtrain, ytrain = oversample.fit_resample(xtrain, ytrain)
counter = Counter(ytrain)
print(counter)
print('===========================')

for k, v in counter.items():
  per = 100*v/len(ytrain)
  print(f'class={k}, n={v} ({per:.2f}%)')

Counter({'Slight Injury': 7324, 'Serious Injury': 1191, 'Fatal injury': 106})
===========================
class=Slight Injury, n=7324 (84.96%)
class=Serious Injury, n=1191 (13.82%)
class=Fatal injury, n=106 (1.23%)
Counter({'Slight Injury': 7324, 'Serious Injury': 7324, 'Fatal injury': 7324})
===========================
class=Slight Injury, n=7324 (33.33%)
class=Serious Injury, n=7324 (33.33%)
class=Fatal injury, n=7324 (33.33%)

In [ ]:

# convert time strings to seconds
def time_to_seconds(time_str):
    try:
        h, m, s = map(int, time_str.split(':'))
        return h * 3600 + m * 60 + s
    except (ValueError, AttributeError):
        return 0

#LabelEncoder
le = LabelEncoder()

# Fit the encoder
df['Accident_severity'] = le.fit_transform(df['Accident_severity'])

#convert all object (string) columns to numerical
for column in xtrain.select_dtypes(include=['object']).columns:
    # Check if the column contains time-like values
    if xtrain[column].str.contains(':', regex=False).any():
        # Convert time-like values to seconds
        xtrain[column] = xtrain[column].apply(time_to_seconds)
        xtest[column] = xtest[column].apply(time_to_seconds)  # Apply to xtest as well
    elif xtrain[column].str.contains('day', regex=False).any():
        # Convert day names to numerical representation (e.g., Monday=0, Tuesday=1, etc.)
        xtrain[column] = pd.Categorical(xtrain[column]).codes
        xtest[column] = pd.Categorical(xtest[column], categories=xtrain[column]).codes
    else:
        # Convert the column to string type before Label Encoding
        xtrain[column] = xtrain[column].astype(str)
        xtest[column] = xtest[column].astype(str)

        #Encoding to convert categorical features to numerical
        le = LabelEncoder()
        xtrain[column] = le.fit_transform(xtrain[column])
        xtest[column] = le.transform(xtest[column])

#applying SMOTE
oversample = SMOTE()
xtrain, ytrain = oversample.fit_resample(xtrain, ytrain)
counter = Counter(ytrain)
print(counter)
print('===========================')

Counter({2: 7324, 1: 7324, 0: 7324})
===========================

In [ ]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
le_y = LabelEncoder()
ytrain = le_y.fit_transform(ytrain)
ytest = le_y.transform(ytest)

model = LinearRegression()
model.fit(xtrain, ytrain)
y_pred = model.predict(xtest)

mae = mean_absolute_error(ytest, y_pred)
mse = mean_squared_error(ytest, y_pred)
rmse = np.sqrt(mse)
print("Mean Absolute Error:", mae)
print("Mean Squared Error:", mse)
print('Rmse :', rmse)

Mean Absolute Error: 0.7656570940042027
Mean Squared Error: 0.7242896882853187
Rmse : 0.8510521066805009

In [ ]:
score = model.score(xtest, ytest)
print(score)

-3.1586672834954665

In [ ]:
import joblib

# Save the model to a file
joblib.dump(model, 'accident_severity_model.pkl')

['accident_severity_model.pkl']

In [ ]:
# Example of a data point (1 row of independent variables)
data = [[50, 1, 4, 1,30,10,0,0,150,0,0,0,0,0,0,0,0,0,0,0,0]]

# Predict accident severity
prediction = model.predict(data)
print(f"Predicted accident severity: {prediction[0]}")

Predicted accident severity: 3.33155288880881